
.productCard {
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 20px;
}

#productCardImages {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

#productCardImage {
    max-width: 260px;
    max-height: 150px;
    height: auto;
}

#productCardRating {
    display: flex;
    flex-direction: column;
}

#productCardRating img{
     width: 24px;
    height: 24px;
    filter: invert(49%) sepia(45%) saturate(850%) hue-rotate(175deg) brightness(89%) contrast(86%);
}

#productCardInfo {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

#productCardInfo h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin: 0;
}

#productCardInfo p {
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 0;
}


#productCardInfo p span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}