#filtersContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
    margin: 20px auto;
    max-width: 700px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #000000;
    position: relative;
}

.FiltersRowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#filtersSubmit {
    position: absolute;
    padding: 10px 60px;
    background: #4082D5;
    border-radius: 5px;
    border: none;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

#filtersContainer img {
    width: 22px;
    height: 22px;
    background: transparent;
    border: none;
    filter: invert(1);
}

#searchContainer {
    display: flex;
    background: #5C5C5C;
    padding: 5px 10px;
    border-radius: 5px;
}


#searchContainer input {
    background: transparent;
    border: none;
    font-size: 14px;
    color: #ffffff;
    margin-left: 5px;
}

#shippingFilterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
}

#shippingOptions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#shippingOptions button{
    background: #006aa3;
    border: none;
    padding: 4px 10px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#shippingOptions button span {
    flex-grow: 1;
    text-transform: uppercase;
    margin-left: 5px;
}