#filtersContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
    margin: 20px auto;
    max-width: 700px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #000000;
    position: relative;
}

.FiltersRowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filterSelect {
    background: #F4F6F7;
    border-radius: 3px;
    border: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    padding: 10px;
    margin-right: 10px;
    min-width: 120px
}

#filtersSubmit {
    position: absolute;
    padding: 10px 60px;
    background: #4082D5;
    border-radius: 5px;
    border: none;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#filtersContainer img {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    filter: invert(80%) sepia(11%) saturate(304%) hue-rotate(169deg) brightness(88%) contrast(87%);
}

#searchContainer {
    flex-grow: 1;
    display: flex;
    background: #F4F6F7;
    padding: 10px;
    border-radius: 5px;
}


#searchContainer input {
    background: transparent;
    border: none;
    font-size: 14px;
    color: #000000;
    margin-left: 5px;
}


.filterSlider {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
}

.filterSlider span {
    background: #F4F6F7;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    margin: 0 10px;
}

/*   oldddd */



#shippingFilterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
}

#shippingOptions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#shippingOptions button{
    background: #006aa3;
    border: none;
    padding: 4px 10px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#shippingOptions button span {
    flex-grow: 1;
    text-transform: uppercase;
    margin-left: 5px;
}