#filtersContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #252525;
    border-radius: 5px;
    margin-top: 20px;
    color: #ffffff;
    text-align: left;
}

#filtersContainer img {
    width: 26px;
    height: 26px;
}

#searchContainer {
    display: flex;
}

#searchContainer input {
    
}